@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

section {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    width: 100%;
}

#backgroundCanvas{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-Color: rgb(15, 15, 15);
}

#sect1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column; 
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
}

#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vw;
    background-color: white;
    padding: 0.5vw 2.5vw;
    border-radius: 1vw;
    width: auto;
    box-sizing: border-box;
    transition: transform 0.3s ease, opacity 0.3s ease; 
    position: relative; 
}

#scrollMenu {
    visibility: hidden;   
    opacity: 0;     
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 0.5vw 2.5vw;
    z-index: 9999;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
}

#scrollMenu.show {
    visibility: visible; 
    opacity: 1;          
    transform: translateY(0); 
}

#sideMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -270px;
    overflow-y: auto;
    background-image: url('images/texture4.png');
    background-color: rgb(100, 100, 100);
    opacity: 1;
    z-index: 99999;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    transition: transform 0.4s ease-out;
}

#sideMenu.show {
    transform: translateX(270px); 
}

#sideMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sideMenu ul li{
    padding: 15px;
}

#sideMenu .linkedIn{
    margin-left: 5px;
    margin-top: 7px;
}

#sideMenu a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    transition: all 0.3s ease-out
}


#sideMenu ul li a {
    font-family: 'Inter', sans-serif;
    display: block;
    transform: translateX(0);
}

#sideMenu a:hover{
    color: rgb(38, 102, 161);
}

#sideMenu ul li a:hover, #sideMenu .linkedIn:hover {
    transform: translateX(3px);
}

#sideMenuEmail{
    margin-bottom: 10px;
    margin-left: 15px;
}

#topMenu{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-weight: 700;
}

#xIcon{
    width: 35px;
    height: 35px;
    transition: filter 0.5s;
    cursor: pointer;
    margin: 7px;
}

#xIcon:hover{
    filter: brightness(0.7);
}

#menuButton,
#scrollMenuButton {
    display: none;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#scrollMenuButton{
    z-index: 99999;
}

#menuButton img,
#scrollMenuButton img { 
    width: 30px;
}

.menuBtn {
    background-color: rgb(220, 220, 220);
    border-color: transparent;
    font-weight: 600;
    border-radius: 7px;
    font-size: 1em;
    margin-right: 10px;
    z-index: 1000;
    cursor: pointer;
    transform: translateY(0);
    transition: transform 0.5s ease;
    opacity: 1;
}

.menuBtn:hover {
    color: rgb(38, 102, 161);
    transform: translateY(-3px);
}

.linkedIn {
    width: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
}

.linkedIn:hover {
    content: url('images/linkedinHover.png');
    transform: scale(1.15);
}


.box{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: left;
    justify-content: flex-start;
    border-radius: 8px;
    background-color:grey;
    margin: 6px;
    box-sizing: border-box;
    padding: 15px 40px;
}

.b1{
    flex-basis: 93%;
}

.b2{
    flex-basis: 46%;
}

.trans{
    background-color: transparent;
}

#desc{
    height: auto;
    font-size: 1.5em;
    background-color: rgba(30, 30, 30, 0.6);
    color: white;
    box-sizing: border-box;
}

#sect2{
    background-image: url("images/texture2.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: auto;
    padding: 30px;
}
  
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .glowingBackground{
    margin: 10px;
    height: auto;
    width: 90vw;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    z-index: 1;
    padding: 0.75vw;
    border-radius: 10px;
    opacity: 0.7;
    animation: 3s spin linear infinite;
    
  }

  .innerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2vw;
    padding-top: 0;
    width: auto;
    height: auto;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: white;
    z-index: 10;
    opacity: 1;
  }

  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }


  #keySkillsText{
    margin-top: 0;
    width: 100%;
    text-align: left;
  }

  #keySkillsBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }

  .innerDiv h1{
    font-size: 3rem;
  }

  .innerDiv h2{
    margin: 3px;
  }

  .skillBox{
    flex-basis: 50%;
    box-sizing: border-box;
    text-align: center;
  }

  .skillBox p {
    max-width: 50%; 
    margin: 0 auto; 
    word-wrap: break-word; 
}

  .skillBox img{
    width: 25%;
    height: auto;
  }

  .fade:not(.delay) {
    opacity:0;
    transform: translateY(20px);
    transition: all 1s ease 0.2s;
  }

  .delay{
    opacity:0;
    transition: all 1s ease 0.7s;
  }

  .delay:nth-child(odd){
    transform: translateX(-30px);
  }
  .delay:nth-child(even){
    transform: translateX(30px);
  }

  .fade.visible{
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0);
  }

  #sect3{
    background-color: rgb(30, 30, 30);
    background-image: url("images/texture3.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

.personalBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    background-color: rgba(90, 90, 90);
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 100;
    opacity: 1;
    box-sizing: border-box;
}

.glowingBackground.bottom:nth-child(2){
    background-image: conic-gradient(from var(--angle), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(6, 251, 255), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.glowingBackground.bottom:nth-child(3){
    background-image: conic-gradient(from var(--angle), rgb(166, 0, 255), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.personalBox img{
    width: 18vw;
    height: auto;
    border-radius: 10px;
    margin: 20px;
}

.personalBox img:nth-child(2){
    transition-delay: 0.3s;
}
.personalBox img:nth-child(3){
    transition-delay: 0.5s;
}
.personalBox img:nth-child(4){
    transition-delay: 0.7s;
}
.personalBox img:nth-child(5){
    transition-delay: 0.9s;
}

.personalBox h1 {
    display: block; 
    width: 100%; 
    text-align: left; 
    margin: 0;  
    font-size: 2.5em;
}

#personalTitle{
    display: block; 
    box-sizing: content-box;
    width: 90vw; 
    text-align: left; 
    margin: 30px;  
    font-size: 2.5em;
    color: white;
}

footer{
    background-color: rgb(30, 30, 30);
}

#footerText{
    color: white;
    padding: 30px;
}

#footerText a{
    color: white;
    text-decoration: none;
}

* {
    /*outline: 1px solid red; */
}

@media (max-width: 1200px) {
    .personalBox img {
        width: 45%;  
    }
}

@media (max-width: 1000px) {
    
    #menuButton, #scrollMenuButton{
        display: flex;
    }
    .menuBtn{
        display: none;
    }
    .b2{
        flex-basis: 93%;
    }

    section{
        height: auto;
    }

    .skillBox{
        flex-basis: 100%;
        width: 100%;
    }
    
}

@media (max-width: 400px) {
    .personalBox img {
        width: 90%;  
    }
}